.logout-button {
  border: 1px solid #e67e22 !important;
  background-color: white !important;
  color: #e67e22 !important;
  border-radius: 5px;
  padding: 1rem 1.5rem;
  align-items: center;
  gap: 2rem;
  font-size: 2.4rem;
  font-weight: 500;
}

.logout-button:hover {
  cursor: pointer;
  background-color: #e6e6e6 !important;
}
